In [2]:
import pandas as pd
import numpy as np
import math 

#load questions csv
questions_data = pd.read_csv('../OkCupidData/question_data.csv',header=0,delimiter=';' )
questions_data = questions_data.rename(columns={questions_data.columns[0]: "q" })
#keep only question lines
questions_data = questions_data[questions_data.q.str[0] == 'q']
#sort them by non empty number of lines
questions_data.sort_values(by=['N'],ascending=False)
orig_data = pd.read_pickle("../OkCupidData/unprocessed.bz2")

prob_data = orig_data[[col for col in orig_data.columns if col.startswith('p')]]
question_data = orig_data[[col for col in orig_data.columns if col.startswith('q')]]
demog_data = orig_data[[col for col in orig_data.columns if not col.startswith('q') and not col.startswith('p')]]
demog_question_data = orig_data[[col for col in orig_data.columns if not col.startswith('p')]]

In [26]:
#these dimensions are complementary, need to swap them 
indx_p_dominant = prob_data.columns.get_loc("p_dominant")
indx_p_submissive = prob_data.columns.get_loc("p_submissive")

def user_similarity(user_1_indx, user_2_indx, prob_data=prob_data):
    values_1 = prob_data.iloc[[user_1_indx]].values[0]
    values_2 = prob_data.iloc[[user_2_indx]].values[0]
    values_2[indx_p_dominant], values_2[indx_p_submissive] =  values_2[indx_p_submissive], values_2[indx_p_dominant] 
    
    sum_sq_1 = np.nansum(values_1*values_1)
    if sum_sq_1 == 0:
        return 0
    sum_sq_2 = np.nansum(values_2*values_2)
    if sum_sq_2 == 0:
        return 0
    return np.nansum(values_1*values_2) / (np.sqrt(sum_sq_1) * np.sqrt(sum_sq_2))

# user_similarity(2711, 390)

0.09962332051936486

In [ ]:
def test_similarity_metric():
    #find closest vector
    max_val = 0
    for i in range(len(prob_data)):
        cosine_sim = user_similarity(2711, i)
        if cosine_sim > max_val:
            print cosine_sim
            max_val = cosine_sim
            display(prob_data.iloc[[i]])
test_similarity_metric()

0.08103534569335162

,p_conf,p_laidback,p_drug,p_lit,p_progress,p_roman,p_dominant,p_polit,p_pure,p_manners,...,p_comp,p_lovedri,p_sprit,p_passion,p_energetic,p_exer,p_logic,p_math,p_geeky,p_adven
0,NaN,NaN,NaN,67.0,NaN,NaN,NaN,11.0,NaN,NaN,...,NaN,NaN,NaN,90.0,NaN,NaN,NaN,35.0,NaN,NaN

0.10194900823338655

,p_conf,p_laidback,p_drug,p_lit,p_progress,p_roman,p_dominant,p_polit,p_pure,p_manners,...,p_comp,p_lovedri,p_sprit,p_passion,p_energetic,p_exer,p_logic,p_math,p_geeky,p_adven
5,NaN,NaN,NaN,NaN,NaN,NaN,37.0,NaN,-12.0,-29.0,...,NaN,-48.0,-38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

0.1533744350541197

,p_conf,p_laidback,p_drug,p_lit,p_progress,p_roman,p_dominant,p_polit,p_pure,p_manners,...,p_comp,p_lovedri,p_sprit,p_passion,p_energetic,p_exer,p_logic,p_math,p_geeky,p_adven
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-50.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

0.15434464284634994

,p_conf,p_laidback,p_drug,p_lit,p_progress,p_roman,p_dominant,p_polit,p_pure,p_manners,...,p_comp,p_lovedri,p_sprit,p_passion,p_energetic,p_exer,p_logic,p_math,p_geeky,p_adven
22,NaN,NaN,NaN,-39.0,NaN,NaN,NaN,57.0,-9.0,-67.0,...,57.0,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN

0.16226479338300398

,p_conf,p_laidback,p_drug,p_lit,p_progress,p_roman,p_dominant,p_polit,p_pure,p_manners,...,p_comp,p_lovedri,p_sprit,p_passion,p_energetic,p_exer,p_logic,p_math,p_geeky,p_adven
28,32.0,NaN,NaN,NaN,NaN,-28.0,NaN,73.0,NaN,NaN,...,30.0,-63.0,-16.0,NaN,12.0,NaN,NaN,NaN,NaN,86.0

0.2511334309731221

,p_conf,p_laidback,p_drug,p_lit,p_progress,p_roman,p_dominant,p_polit,p_pure,p_manners,...,p_comp,p_lovedri,p_sprit,p_passion,p_energetic,p_exer,p_logic,p_math,p_geeky,p_adven
29,NaN,NaN,NaN,-55.0,NaN,NaN,NaN,-5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,56.0,NaN,NaN,35.0,NaN,NaN

0.34094952912184256

,p_conf,p_laidback,p_drug,p_lit,p_progress,p_roman,p_dominant,p_polit,p_pure,p_manners,...,p_comp,p_lovedri,p_sprit,p_passion,p_energetic,p_exer,p_logic,p_math,p_geeky,p_adven
48,51.0,NaN,NaN,26.0,NaN,NaN,NaN,81.0,NaN,25.0,...,30.0,NaN,9.0,NaN,85.0,NaN,NaN,NaN,NaN,62.0

0.45201056300116016

,p_conf,p_laidback,p_drug,p_lit,p_progress,p_roman,p_dominant,p_polit,p_pure,p_manners,...,p_comp,p_lovedri,p_sprit,p_passion,p_energetic,p_exer,p_logic,p_math,p_geeky,p_adven
58,NaN,NaN,NaN,NaN,NaN,17.0,53.0,NaN,10.0,NaN,...,NaN,3.0,NaN,3.0,60.0,NaN,NaN,12.0,-37.0,54.0

0.5828086015473668

,p_conf,p_laidback,p_drug,p_lit,p_progress,p_roman,p_dominant,p_polit,p_pure,p_manners,...,p_comp,p_lovedri,p_sprit,p_passion,p_energetic,p_exer,p_logic,p_math,p_geeky,p_adven
677,42.0,NaN,NaN,NaN,NaN,-19.0,NaN,-5.0,-9.0,NaN,...,30.0,NaN,-8.0,NaN,64.0,NaN,NaN,NaN,-66.0,29.0

0.6087551388270017

,p_conf,p_laidback,p_drug,p_lit,p_progress,p_roman,p_dominant,p_polit,p_pure,p_manners,...,p_comp,p_lovedri,p_sprit,p_passion,p_energetic,p_exer,p_logic,p_math,p_geeky,p_adven
864,74.0,NaN,NaN,-70.0,NaN,-46.0,16.0,NaN,NaN,NaN,...,-9.0,-83.0,55.0,8.0,78.0,66.0,NaN,-17.0,-51.0,NaN

0.9967731526298808

,p_conf,p_laidback,p_drug,p_lit,p_progress,p_roman,p_dominant,p_polit,p_pure,p_manners,...,p_comp,p_lovedri,p_sprit,p_passion,p_energetic,p_exer,p_logic,p_math,p_geeky,p_adven
2711,59.0,NaN,NaN,-4.0,NaN,NaN,10.0,NaN,-27.0,-56.0,...,NaN,NaN,NaN,NaN,81.0,28.0,NaN,-27.0,-56.0,16.0